@using Task = OrganizingApp.Models.Task;

@model IEnumerable<Task>

<h2>Tasks</h2>

<div style="display: block">
    <a href="/Task/InsertTask/">Create a New Task</a>
</div>

<table class="table">
    <tr>
        <th>taskId</th>
        <th>taskDesc</th>
        <th>notes</th>
        <th>location</th>
        <th>isCompleted</th>

    </tr>

    @foreach (var task in Model)
    {
        <tr>
            <td><a href=/Task/ViewTask/@task.TaskId>@task.TaskId</a></td>
            @*above will make each taskId on our index page take us to that individual task*@
            <td>@task.TaskDesc</td>
            <td>@task.Notes</td>
            <td>@task.LocationId</td>
            <td>@task.IsCompleted</td>
        </tr>
    }
</table>
