@using OrganizingApp;
@using Task = OrganizingApp.Models.Task;

@model Task

<h2>Update @Model.TaskDesc</h2>

@using (Html.BeginForm("UpdateTaskToDatabase", "Task", "Post"))
{
    <input asp-for="TaskId" type="hidden" value="@Model.TaskId" />

    <label asp-for="TaskDesc" class="control-label">taskDesc</label>

    <input type="text" taskDesc="taskDesc" class="form-control" value="@Model.TaskDesc" />

    <label asp-for="Notes" class="control-label">Notes</label>

    <input type="text" name="Notes" class="form-control" value="@Model.Notes" />

    <label asp-for="IsCompleted" class="control-label">IsCompleted</label>

    <input type="text" name="IsCompleted" class="form-control" value="@Model.IsCompleted" />

    <input type="submit" value="Update Task" class="btn btn-primary" />
}