@using OrganizingApp;
@using Task = OrganizingApp.Models.Task;

@model Task

<h2>Update @Model.taskDesc</h2>

@using (Html.BeginForm("UpdateProductToDatabase", "Product", "Post"))
{
    <input asp-for="taskId" type="hidden" value="@Model.taskId" />

    <label asp-for="taskDesc" class="control-label">taskDesc</label>

    <input type="text" taskDesc="taskDesc" class="form-control" value="@Model.taskDesc" />

    <label asp-for="notes" class="control-label">Notes</label>

    <input type="text" name="Notes" class="form-control" value="@Model.notes" />

    <label asp-for="isCompleted" class="control-label">IsCompleted</label>

    <input type="text" name="IsCompleted" class="form-control" value="@Model.isCompleted" />

    <label asp-for="locationId" class="control-label">Location</label>

    <input type="text" name="Location" class="form-control" value="@Model.locationId" />

    <input type="submit" value="Update Task" class="btn btn-primary" />
}